# Mac OSX
.DS_Store

# NodeJS
node_modules/
coverage/
dist/

# NextJS
.next/

# Yarn
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Cypress
/client/cypress/videos/
/client/cypress/screenshots/

# Developer files
.env
.env.local
